@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    --primary-color: #f59e0b;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/** containers **/
.container {
    padding-left: 1rem; /** boxmodel MBPC **/
    padding-right: 1rem;
}

.centered-container {
    max-width: 600px;
    margin: auto;
}

/**links**/

.primary {
    color : var(--primary-color);
}